@import "variables";
@import "footer";
@import "operators";
@import "mediaqueries";

*{
    margin: 0px;
    padding: 0px;
}

.texto__central{
    color:white;
    font-size: 70px;
}

.section__bienvenida{
    height: 100vh;
}

.body__gradiente{
    background-image: linear-gradient(rgba(22, 22, 22, 0.65),rgba(97, 84, 84, 0.555)), url(../resources/oficina.jpg);
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
}

.header__navbar{
    background-color: rgba(98, 98, 100, 0.664);
}

/* seccion descripcion contacto*/

.section__descripcion {
    font-family: 'BIZ UDPGothic', sans-serif;
    padding: 16px;
    display: flex;
    flex-direction: column;
    
}

.section__descripcion__fondo {
    background-color: antiquewhite;
    opacity: 0.5;
}

/* seccion multimedia */

.multimedia__grid{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "uno dos tres"
                        "uno cuatro cuatro"
                        "uno cinco cinco";
    row-gap: 5px;
    column-gap: 5px;
    &__zoom:hover{
        transform: scale(1.01,1.02);
        transition: 2s;
    }
        .uno {
            grid-area: uno;
            background-image: url("../resources/cocinagod.jpg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        
        .dos{
            grid-area: dos;
            background-image: url("../resources/renovadas2.jpg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        
        .tres{
            grid-area: tres;
            background-image: url("../resources/habitaciongod.jpg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        
        .cuatro{
            grid-area: cuatro;
            background-image: url("../resources/patiogod.jpg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        
        .cinco{
            grid-area: cinco;
            background-image: url("../resources/renovar1.png");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(161, 155, 155, 0.178);
    opacity: 0;
    transition: .5;

}

.content h2{
    color: rgba(0, 0, 0, 0.8);
}

.card:hover .content {
    opacity: 1;
}


.multimedia__img{
    width: 24%;
}

.carousel-inner img {
    width:1080x;
    height:720px;
}

.main__fondo{
    background-image: url(../resources/renovadas4.jpg);
    background-position: center;
    height: 900px;
    width: auto;
}

.fondo__contactus{
    background-color: rgb(186, 186, 189);
}

.body__contactus{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: rgb(186, 186, 189);
}

.footer__contactus{
    margin-top: auto;
}

.carousel__texto{
    background-color:rgba(22, 22, 22, 0.65);
}

carousel-item img {
        object-fit: cover;
        object-position: center;
        height: 50vh;
        overflow: hidden;
    }

.fondo__foother{
    height: 100%;
}

@media (min-width: 320px) and (max-width: 575px) {
    header{
        height: auto;
    }

    .header__nav {
        display: grid;
        height: auto;
        width: auto;
    }

    .body__fondo{
        width: auto;
    }

    .header__lista {
        display: grid;
        justify-content: flex-start;
    }

    .texto__central{
        width: auto;
        font-size: 40px;
    }

    .multimedia__grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        column-gap: 0px;
        row-gap: 5px;

        .uno {
            grid-column: 1/2;
            grid-row: 1/2;
            margin: 4px;
        }
        .dos{
            grid-column: 1/2;
            grid-row: 2/3;
            margin: 4px;
        }
        .tres{
            grid-column: 1/2;
            grid-row: 3/4;
            margin: 4px;
        }
        .cuatro{
            grid-column: 1/2;
            grid-row: 4/5;
            margin: 4px;
        }
        .cinco{
            grid-column: 1/2;
            grid-row: 5/6;
            margin: 4px;
        }
    }
    .contenedor__img{
        width: 100%;  
    }
    .contenedor__img1{
        max-width: 100%;
    }
    .carousel-inner img {
        width:100%;
        height: 100%;
    }

    .desactivar{
        display: none;
    }

    .card{
        margin-bottom: 10px;
    }
}


/* media query tablet */
@media (min-width: 576px) and (max-width: 992px) {
    
    .body__fondo{
        width: auto;
    }


    .texto__central{
        justify-content: center;
        font-size: 60px;
        width: auto;
    }

    .desactivar {
        display: none;
        
    }

    .space {
        margin-bottom: 40px;
    }

    .multimedia__grid{
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        .uno {
            grid-column: 1/2;
            grid-row: 1/2;
            
        }
        .dos{
            grid-column: 2/3;
            grid-row: 1/2;
        }
        .tres{
            grid-column:1/2;
            grid-row: 2/3;
        }
        .cuatro{
            grid-column: 2/3;
            grid-row: 2/3;
        }
        .cinco{
            grid-column: 1/3;
            grid-row: 3/4;
    }
    
    }
    .contenedor__img{
        width: 100%;  
    }
    .contenedor__img1{
        max-width: 100%;
    }
    .carousel-inner img {
        width:100%;
        height: 100%;
    }
}